@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Lora&family=Open+Sans&display=swap");
.title {
  color: black;
  font-family: "Lora", serif;
}

a,
a:hover {
  text-decoration: none;
}

.phoneCard {
  position: relative;
  width: 230px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.accordion-button:not(.collapsed) {
  color: tomato;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-item {
  border: none;
}

@media screen and (max-width: 768px) {
  .phoneCard {
    margin-top: 2vmax;
  }
}

@media screen and (max-width: 430px) {
  .accordion-body {
    flex-wrap: nowrap;
    overflow: scroll;
  }
}
