.imgbx .bire {
  background-position: right;
  background-size: cover;
  height: 1000px;
}
.imgbx .mama {
  height: 500px;
  width: auto;
  background-position: center;
}

.body {
  background-image: url("../logo/bg.jpg");
  height: 81vh;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.5s;
}
.container .card:hover .content {
  opacity: 1;
}
.container .card .content .imgbx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentbx h3 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.container .card .content .contentbx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}
.container .card .content .contentbx .hicons {
  position: 0 10px;
  margin: 0 10px;
  transform: translate(40px);
  transition: 0.5s;
}
.container .card .sci li {
  list-style: none;
  margin: -10px 25px;
  justify-content: center;
}
